.dropdown {
    display: flex;
    justify-content: center;
}

.center-dropdown {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 3px 8px 0px rgb(66, 66, 66);
    margin: 15px;

    height: 45px;

    width: 15%;
    min-width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-dropdown a {
    color: black !important;
    font-weight: bold;
}