:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;

    background-color: lightblue;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: rgb(0, 157, 255);
    text-decoration: none;
}

a:hover {
    color: blue;  
}

body {
    margin: 0;
}

.active-status {
    background-color: rgb(40, 173, 84);
}

.inactive-status {
    background-color: rgb(245, 78, 56);
}

.active-status, .inactive-status {
    color: white;
    border-radius: 50px;
    padding: 6px 8px 6px 8px;
    font-weight: bold;
}

.active-status-short {
    color: green;
}

.inactive-status-short {
    color: red;
}

.active-status-short, .inactive-status-short {
    background-color: unset;
    border-radius: 0px;
    padding: 0px;
}

.button {
    border-radius: 50px;
    font-weight: bold; 
    border: none;
    box-shadow: 0px 3px 5px 0px rgb(66, 66, 66);
}

