.header {
    height: 20vh;
    min-height: 100px;
    background-color: #570987;

    .banner {
        height: 65%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo img {
        height: 120%;
        width: 100px;
    }

    .nav {
        min-height: 35%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #7D0DC3;
    }    
}