.no-match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p:first-of-type {
        font-size: 2rem;
    }

    .button {
        margin: 30px;
    }
}

@media (width <= 480px) {
    .no-match-container {
        text-align: center;
        padding-inline: 10px;

        p:first-of-type {
        font-size: 1.5rem;
        }
    }
}    